.u-section-1 .u-sheet-1 {
  min-height: 115px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 40px;
  font-size: 2.875rem;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-2 {
  background-image: linear-gradient(white, #333333);
}

.u-section-2 .u-sheet-1 {
  min-height: 1105px;
}

.u-section-2 .u-list-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 259px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/tennis.gif");
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-image-2 {
  background-image: url("images/football.gif");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-image-3 {
  background-image: url("images/handball.gif");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 94px 0 100px;
}

.u-section-2 .u-image-4 {
  min-height: 315px;
  background-image: url("images/2c2a7c966b9e7a561b16f9ccec0ab791ca1bfcbab6d58e188a50042148bf90a7601fe8b24804e028d6dc483d335c22d4a960117b85124f4cfe6104_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 327px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 315px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 60px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 69px 0 0;
}

.u-section-2 .u-image-5 {
  min-height: 315px;
  background-image: url("images/1dca03b91f191d635b23bf97ff25e91bc5a0bc391beaac751c8c2a9ef5e01e6399984e4900d327239a6bd28e7f7c487da630e3ac4ae84f4fdef4da_1280.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 993px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 213px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 315px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 861px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 503px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1261px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1039px;
  }
}